{% block footer %}
<!-- Footer -->
<hr>
<div id="footer">
  <div class="container">
    <p class="text-muted text-center"><a href="https://gitlab.com/Linaro/tuxpub">tuxpub</a> {{VERSION}}, by <a href="https://linaro.org">Linaro</a>.<br />
        Tip: If <a href="?export=json">?export=json</a> is appended to the URL, a json representation of the page will be provided.<br />
    </p>
  </div>
</div>
{% endblock %}
